.button_medium{
    height: 100px;
    width: 350px;
    background-color: #ff3000;
    margin:20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    
}